@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.staticSection {
  background-color: #171636;
  background-image: url(assets/images/asset-one.png);
  background-repeat: no-repeat;
  background-size: 730px;
  background-position: right 110px;
  color: white;
}
.staticSection h1 {
  max-width: 252px;
  margin-left: 40px;
}
.staticSection p {
  max-width: 400px;
  margin-left: 40px;
}
.headerLogo {
  margin-top: 55px;
  margin-left: 40px;
  margin-bottom: 50px;
}
.dynamicSection {
  background-color: #f7f7fa;
}
.billOptions .card {
  text-align: center;
  margin-bottom: 32px !important;
}
.billOptions .card img {
  height: 94px;
  margin-bottom: 23px;
}
.card {
  padding-top: 35px;
  padding-bottom: 23px;
  border-color: #171637 !important;
  -webkit-box-shadow: 5px 5px 0px 0px #171637;
  border: solid 1px; 
  box-shadow: 5px 5px 0px 0px #171637;
  border-radius: 18px;
}
.card h5 {
  margin-bottom: 0px;
}
.recentCards .card {
  margin-bottom: 48px !important;
  padding-top: 25px;
}
.recentCards .card p.card-text {
  padding-left: 50px;
}
.recentCards .card .card-header {
  background-repeat: no-repeat;
  background-position: 20px 0px;
  background-color: transparent;
  border-bottom: 0px;
  padding-left: 68px;
  padding-top: 0px;
  padding-bottom: 6px;
}
.cableCard .card-header {
  background-image: url(assets/images/asset-four.png);
  background-repeat: no-repeat;
  background-position: 10px 0px;
  background-size: 10px;
}
h2 {
  margin-bottom: 25px;
}
h3 {
  margin-top: 18px;
}
.billStatus {
  padding-top: 50px;
}
.billStatus .col-md-4 div {
  border-bottom: solid 3px #E9E8E9;
  margin-bottom: 48px;
}

/* 2nd Page */

.selectBillUsers {
  text-align: center;
}
.active-border {
  border-color: #202145 !important;
}
.card-title {
  color: #202145;
}
input {
  // border: 1px solid #202145 !important;
  box-shadow: #202145 3px 3px 0px 1px !important;
}
.w-18px { width: 18px;}
.issuer-title {
  letter-spacing: 0px;
}